@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap');

b { font-weight: 700; }
#map {
    font-size: 62.5%;
    perspective: 200vw;
    width: 100%;
    height: calc(100vh - 20em);
}

.streetsign {
    font-family: 'Josefin Sans', sans-serif;
    background-color: #EFEFEF;
    padding: .4em 1em 0;
    border: .3em solid #444;
    border-radius: .2em;
}

.streetsign .mapboxgl-popup-tip { display: none; }

.mapboxgl-popup-close-button {
    top: -.3em;
    right: -0.8em;
    font: initial;
    font-size: 1.5em;
}

.streetsign .mapboxgl-popup-content {
    background-color: #EFEFEF;
    box-shadow: 0 .4em 0 -.1em #444;
    border-radius: 0;
    padding: 0;
    z-index: initial;
}

.streetsign h2 {
    font-weight: normal;
    font-size: 2em;
    margin: 0;
}

.streetsign .desc p {
    font-family: 'Josefin Slab', serif;
    font-weight: 300;
    font-size: 1.6em;
    line-height: 1.15;
    max-height: 0;
    max-width: 0;
    margin: 0;
    padding: .4em 0;
    overflow: hidden;
    transition: all .5s;
}

.streetsign.expanded .desc p {
    max-height: 20em;
    max-width: 100em;
}

.streetsign .more {
    text-align: center;
    font-size: 0.8em;
    line-height: 0.8;
    position: absolute;
    bottom: -1.4em;
    left: calc(50% - 2em);
    width: 4em;
    z-index: -1;
    padding-top: .4em;
    border: .2em solid #444;
    border-radius: .2em;
    background-color: #EFEFEF;
    transition: all .3s ease-in-out;
}

.streetsign.expanded .more {
    line-height: 1;
    bottom: -1.7em;
    font-size: 1.5em;
    left: calc(50% - 3em);
    width: 6em;
}

.streetsign .more a {
    text-decoration: none;
}

.streetsign.attached:before,
.streetsign.attached:after {
    content: '\00a0';
    background-color: #444;
    position: absolute;
    right: -.6em;
    width: .6em;
    height: .4em;
    border-bottom-left-radius: .3em;
    border-top-left-radius: .3em;
}
.streetsign.attached:before { top: -.4em; }
.streetsign:after { bottom: -.4em; }

#object-information {
    position: absolute;
    bottom: -100%;
    right: 1em;
    z-index: 9;
    height: calc(100% - 4em);
    transition: bottom 1s;
}
#object-information.visible { bottom: 0; }

#object-information .pole {
    position: absolute;
    right: 0;
    top: 0;
    background: linear-gradient(to right, rgba(50,71,64,1), rgba(85,106,91,1));
    height: 100%;
    width: 2em;
}

#object-information .pole::before {
    content: '\00A0';
    position: absolute;
    top: -.1em;
    left: -.1em;
    background: linear-gradient(to right, rgba(94,99,98,1), rgba(123,128,124,1));
    height: .6em;
    width: 2.2em;
    box-shadow: 0 .2em .1em -.1em rgba(0,0,0,0.3);
    border-radius: .1em;
}

#object-information .accordion {
    position: absolute;
    right: 2.2em;
    top: 1em;
    width: 30vw;
}

#goBackHome {
    background-color: transparent;
    position: absolute;
    right: 0;
    bottom: calc(100% + .1em);
    z-index: 12;
    padding: 0;
    border: none;
    width: 2em;
}

.baer {
    width: 100%;
}

#object-information .accordion-item { position: relative; }

#object-information .accordion-item .streetsign {
    position: relative;
    margin-bottom: .5em;
    transform: rotate3d(0, 1, 0, -103deg);
    transform-origin: calc(100% + 1em) center;
    transition: all .5s ease-in-out;
}
#object-information.unfolded .accordion-item .streetsign { transform: rotate3d(0, 1, 0, 0deg); }
#object-information .accordion-item:nth-child(1) .streetsign { z-index: 9; transition-delay: .5s; }
#object-information .accordion-item:nth-child(2) .streetsign { z-index: 8; transition-delay: .3s; }
#object-information .accordion-item:nth-child(3) .streetsign { z-index: 7; transition-delay: .1s; }
#object-information.unfolded .accordion-item:nth-child(1) .streetsign { transition-delay: .1s; }
#object-information.unfolded .accordion-item:nth-child(2) .streetsign { transition-delay: .3s; }
#object-information.unfolded .accordion-item:nth-child(3) .streetsign { transition-delay: .5s; }

#object-information .accordion-item .handle {
    position: absolute;
    top: 0;
    right: -2.2em;
    z-index: 11;
    height: 100%;
    width: 2em;
    padding: .2em 0;
    background: linear-gradient(to right, #47464C, #FDFDFE);
}

#object-information .accordion-item .handle-inner {
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, rgba(50,71,64,1), rgba(85,106,91,1));
}

#object-information .accordion-item .handle:before,
#object-information .accordion-item .handle:after {
    content: '\00A0';
    position: absolute;
    left: 0;
    width: 2em;
    height: .5em;
    background: linear-gradient(to right, rgba(50,71,64,1), rgba(85,106,91,1));
}
#object-information .accordion-item .handle:before { top: -.5em; }
#object-information .accordion-item .handle:after { bottom: -.5em; }

#object-information .accordion-item:last-child .handle:after {
    height: 10em;
    bottom: -10em;
}

#object-information .accordion-button {
    font-size: 1em;
    border: none;
    padding: 0;
}

#object-information .accordion-button:not(.collapsed) {
    background-color: transparent;
    color: black;
}

#object-information .accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

#object-information .accordion-body {
    font-family: 'Josefin Slab', serif;
    font-size: 1.6em;
    font-weight: 300;
    line-height: 1.15;
    padding: .5em 0;
    max-height: calc(100vh - 40em);
    overflow: scroll;
}

#object-information .accordion-body > span { font-weight: 300 !important; }