b { font-weight: 700; }
.tooltip-inner { background-color: #5e61d0; }
.tooltip .tooltip-arrow:before { border-left-color: #5e61d0; }
#map {
    perspective: 200vw;
    width: 100%;
    height: calc(100vh - 88px);
}
a.mapboxgl-ctrl-logo { max-width: initial; }
#map .mapboxgl-ctrl-bottom-right { right: 40px; }

#map .quarter-sign {
    font-family: 'Josefin Sans', sans-serif;
    color: #222;
    background-color: #EFEFEF;
    border: 2px solid #EFEFEF;
    border-radius: 6px;
}

#map .quarter-sign .mapboxgl-popup-content {
    background-color: #EFEFEF;
    border: 2px solid #222;
    border-radius: 4px;
    padding: 8px;
}

#map .streetsign {
    font-family: 'Josefin Sans', sans-serif;
    background-color: #EFEFEF;
    border: 3px solid #444;
    border-radius: 2px;
}

#map .mapboxgl-popup-tip { display: none; }
.mapboxgl-popup-close-button { font: initial; }

.streetsign .mapboxgl-popup-content {
    background-color: #EFEFEF;
    box-shadow: 0 3px #444;
    border-radius: 0;
    padding: 0;
    z-index: initial;
}

.quarter-sign a, .streetsign a { color: #5e62d0 }

.quarter-sign h2,
.streetsign h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 1;
}

.quarter-sign .desc p {
    margin: 0;
}

.desc {
    margin: 5px 5px 3px;
}

.quarter-sign h2,
.streetsign .desc h2 {
    margin: 0;
}

.streetsign .desc p {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.15;
    max-height: 10rem;
    margin: 0;
    overflow: scroll;
}

.quarter-sign .more {
    text-align: center;
}

.streetsign .more {
    text-align: center;
    font-size: .6rem;
    line-height: 0.8;
    position: absolute;
    bottom: -.5rem;
    left: calc(50% - 1rem);
    width: 2rem;
    z-index: -1;
    padding-top: .4rem;
    border: 2px solid #444;
    border-radius: 1px;
    background-color: #EFEFEF;
}

.streetsign.expanded .more {
    line-height: 1;
    bottom: -1.6rem;
    font-size: 1rem;
    left: calc(50% - 2.5rem);
    width: 5rem;
}

.more img {
    vertical-align: baseline;
}

.more button {
    color: #5e61d0;
    border: none;
}

.streetsign.attached:before,
.streetsign.attached:after {
    content: '\00a0';
    background-color: #444;
    position: absolute;
    right: -6px;
    width: 6px;
    height: 4px;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}
.streetsign.attached:before { top: -4px; }
.streetsign:after { bottom: -4px; }

#object-information {
    position: absolute;
    bottom: -100%;
    right: 15px;
    z-index: 9;
    height: calc(100% - 10px);
    transition: bottom 1s;
}
#object-information.visible { bottom: 0; }

#object-information .pole {
    position: absolute;
    right: 0;
    top: 0;
    background: linear-gradient(to right, rgba(50,71,64,1), rgba(85,106,91,1));
    height: 100%;
    width: 20px;
}

#object-information .pole::before {
    content: '\00A0';
    position: absolute;
    top: -1px;
    left: -1px;
    background: linear-gradient(to right, rgba(94,99,98,1), rgba(123,128,124,1));
    height: 6px;
    width: 22px;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,0.3);
    border-radius: 1px;
}

#object-information .traffic-light {
    position: absolute;
    z-index: 20;
    top: 10px;
    right: -10px;
    border-radius: 2px;
    background: linear-gradient(250deg, #436C68, #29473d);
}

#object-information .traffic-light hr {
    width: 100%;
    margin: 0;
    height: 2px;
    background-color: #151517;
    opacity: .5;
}

#object-information .traffic-light .light-casing {
    width: 35px;
    height: 35px;
    padding: 0;
    margin: 3px;
    background-color: #151517;
    border-radius: 50%;
    border: none;
    border-top: #5b8872 2px solid;
    box-sizing: content-box;
}

#object-information .traffic-light .light {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 0;
    border: none;
}

#go-back-home {
    background: radial-gradient(circle at 50% 50%, red 1px, transparent 3px),
                radial-gradient(circle at 35% 35%, red 1px, transparent 3px),
                radial-gradient(circle at 42.5% 42.5%, red 1px, transparent 3px),
                radial-gradient(circle at 35% 65%, red 1px, transparent 3px),
                radial-gradient(circle at 42.5% 57.5%, red 1px, transparent 3px),
                radial-gradient(circle at 65% 35%, red 1px, transparent 3px),
                radial-gradient(circle at 57.5% 42.5%, red 1px, transparent 3px),
                radial-gradient(circle at 65% 65%, red 1px, transparent 3px),
                radial-gradient(circle at 57.5% 57.5%, red 1px, transparent 3px);
}

#go-to-street {
    background: radial-gradient(circle at 30% 50%, lawngreen 1px, transparent 3px),
                radial-gradient(circle at 42.5% 50%, lawngreen 1px, transparent 3px),
                radial-gradient(circle at 55% 50%, lawngreen 1px, transparent 3px),
                radial-gradient(circle at 70% 50%, lawngreen 1px, transparent 3px),
                radial-gradient(circle at 55% 35%, lawngreen 1px, transparent 3px),
                radial-gradient(circle at 62.5% 42.5%, lawngreen 1px, transparent 3px),
                radial-gradient(circle at 55% 65%, lawngreen 1px, transparent 3px),
                radial-gradient(circle at 62.5% 57.5%, lawngreen 1px, transparent 3px);
}

#object-information .accordion {
    position: absolute;
    right: 22px;
    top: 11px;
    width: calc(150px + 25vw);
}
#object-information .accordion-item {
    position: relative;
    background-color: transparent;
    border: none;
}

#object-information .accordion-item .streetsign {
    position: relative;
    margin-bottom: 5px;
    transform: rotate3d(0, 1, 0, -103deg);
    transform-origin: calc(100% + 10px) center;
    transition: transform .5s ease-in-out;
}
#object-information.unfolded .accordion-item .streetsign { transform: rotate3d(0, 1, 0, 0deg); }
#object-information .accordion-item:nth-child(1) .streetsign { z-index: 9; transition-delay: .5s; }
#object-information .accordion-item:nth-child(2) .streetsign { z-index: 8; transition-delay: .3s; }
#object-information .accordion-item:nth-child(3) .streetsign { z-index: 7; transition-delay: .1s; }
#object-information.unfolded .accordion-item:nth-child(1) .streetsign { transition-delay: .1s; }
#object-information.unfolded .accordion-item:nth-child(2) .streetsign { transition-delay: .3s; }
#object-information.unfolded .accordion-item:nth-child(3) .streetsign { transition-delay: .5s; }

#object-information .accordion-item .handle {
    position: absolute;
    top: 0;
    right: -22px;
    z-index: 11;
    height: 100%;
    width: 20px;
    padding: 2px 0;
    background: linear-gradient(to right, #47464C, #FDFDFE);
}

#object-information .accordion-item .handle-inner {
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, rgba(50,71,64,1), rgba(85,106,91,1));
}

#object-information .accordion-item .handle:before,
#object-information .accordion-item .handle:after {
    content: '\00A0';
    position: absolute;
    left: 0;
    width: 20px;
    height: 4px;
    background: linear-gradient(to right, rgba(50,71,64,1), rgba(85,106,91,1));
}
#object-information .accordion-item .handle:before { top: -4px; }
#object-information .accordion-item .handle:after { bottom: -4px; }

#object-information .accordion-item:last-child .handle:after {
    height: 100px;
    bottom: -100px;
}

#object-information .accordion-button {
    background-color: transparent;
    font-size: 1.5rem;
    padding: 4px 5px 0;
}

#object-information .accordion-button:focus {
    box-shadow: 0 0 0 2px rgba(13, 110, 253, .3) inset;
}

#object-information .accordion-button:not(.collapsed) {
    color: black;
}

#object-information .accordion-button::after {
    margin-right: 3px;
}

#object-information .accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

#object-information .accordion-body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.15;
    padding: 5px;
    max-height: calc(100vh - 265px);
    overflow: scroll;
}

#object-information .accordion-body p {
    margin-bottom: .4rem;
}

#object-information .street-heading h2 {
    margin: 0;
}

#object-information .street-heading h3 {
    font-size: 1.2rem;
    color: dimgray;
    margin: 0;
}

#object-information .accordion-body > span { font-weight: 300 !important; }

@media only screen and (max-width: 600px) {
    .mapboxgl-popup.streetsign.expanded {
        position: absolute;
        top: initial;
        bottom: 2rem;
        left: .5rem;
        right: .5rem;
        transform: none !important;
        height: fit-content;
        max-width: none !important;
    }

    #object-information .accordion {
        width: calc(100vw - 45px);
    }
}