@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap');

html { font-size: 62.5%; }
body { perspective: 100vw; }

b { font-weight: 700; }

.streetsign {
    font-family: 'Josefin Sans', sans-serif;
    background-color: #EFEFEF;
    padding: .4rem 1rem 0;
    border: .3rem solid #444;
    border-radius: .2rem;
}

.streetsign .mapboxgl-popup-tip { display: none; }

.mapboxgl-popup-close-button {
    top: -.5rem;
    right: -1rem;
    font: initial;
    font-size: 1.5rem;
}

.streetsign .mapboxgl-popup-content {
    background-color: #EFEFEF;
    box-shadow: 0 .4rem 0 -.1rem #444;
    border-radius: 0;
    padding: 0;
    z-index: initial;
}

.streetsign h2 {
    font-weight: normal;
    font-size: 2rem;
    margin: 0;
}

.streetsign .desc p {
    font-family: 'Josefin Slab', serif;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.15;
    max-height: 0;
    max-width: 0;
    margin: 0;
    padding: .4rem 0;
    overflow: hidden;
    transition: all .5s;
}

.streetsign.expanded .desc p {
    max-height: 20rem;
    max-width: 100rem;
}

.streetsign .more {
    text-align: center;
    font-size: 0.8rem;
    line-height: 0.8;
    position: absolute;
    bottom: -1.3rem;
    left: calc(50% - 2rem);
    width: 4rem;
    z-index: -1;
    padding-top: .4rem;
    border: .2rem solid #444;
    border-radius: .2rem;
    background-color: #EFEFEF;
    transition: all .3s ease-in-out;
}

.streetsign.expanded .more {
    line-height: 1;
    bottom: -2.3rem;
    font-size: 1.5rem;
    left: calc(50% - 4rem);
    width: 8rem;
}

.streetsign .more a {
    text-decoration: none;
}

.streetsign.attached:before,
.streetsign.attached:after {
    content: '\00a0';
    background-color: #444;
    position: absolute;
    right: -.6rem;
    width: .6rem;
    height: .4rem;
    border-bottom-left-radius: .3rem;
    border-top-left-radius: .3rem;
}
.streetsign.attached:before { top: -.4rem; }
.streetsign:after { bottom: -.4rem; }

#object-information {
    position: absolute;
    bottom: -100%;
    right: 1rem;
    z-index: 9;
    height: calc(100% - 4rem);
    transition: bottom 1s;
}
#object-information.visible { bottom: 0; }

#object-information .pole {
    background: linear-gradient(to right, rgba(50,71,64,1), rgba(85,106,91,1));
    height: 100%;
    width: 2rem;
}

#object-information .pole::before {
    content: '\00A0';
    position: absolute;
    top: -.1rem;
    left: -.1rem;
    background: linear-gradient(to right, rgba(94,99,98,1), rgba(123,128,124,1));
    height: .6rem;
    width: 2.2rem;
    box-shadow: 0 .2rem .1rem -.1rem rgba(0,0,0,0.3);
    border-radius: .1rem;
}

#object-information .accordion {
    position: absolute;
    right: 2.2rem;
    top: 1rem;
    width: 30vw;
}

#goBackHome {
    padding: 0;
    border: none;
}

.baer {
    position: absolute;
    bottom: calc(100% + .1rem);
    z-index: 12;
    width: 2rem;
}

#object-information .accordion-item { position: relative; }

#object-information .accordion-item .streetsign {
    position: relative;
    margin-bottom: .5rem;
    transform: rotate3d(0, 1, 0, -116deg);
    transform-origin: calc(100% + 1rem) center;
    transition: all .5s ease-in-out;
}
#object-information.unfolded .accordion-item .streetsign { transform: rotate3d(0, 1, 0, 0deg); }
#object-information .accordion-item:nth-child(1) .streetsign { z-index: 9; transition-delay: .5s; }
#object-information .accordion-item:nth-child(2) .streetsign { z-index: 8; transition-delay: .3s; }
#object-information .accordion-item:nth-child(3) .streetsign { z-index: 7; transition-delay: .1s; }
#object-information.unfolded .accordion-item:nth-child(1) .streetsign { transition-delay: .1s; }
#object-information.unfolded .accordion-item:nth-child(2) .streetsign { transition-delay: .3s; }
#object-information.unfolded .accordion-item:nth-child(3) .streetsign { transition-delay: .5s; }

#object-information .accordion-item .handle {
    position: absolute;
    top: 0;
    right: -2.2rem;
    z-index: 11;
    height: 100%;
    width: 2rem;
    padding: .2rem 0;
    background: linear-gradient(to right, #47464C, #FDFDFE);
}

#object-information .accordion-item .handle-inner {
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, rgba(50,71,64,1), rgba(85,106,91,1));
}

#object-information .accordion-item .handle:before,
#object-information .accordion-item .handle:after {
    content: '\00A0';
    position: absolute;
    left: 0;
    width: 2rem;
    height: .5rem;
    background: linear-gradient(to right, rgba(50,71,64,1), rgba(85,106,91,1));
}
#object-information .accordion-item .handle:before { top: -.5rem; }
#object-information .accordion-item .handle:after { bottom: -.5rem; }

#object-information .accordion-item:last-child .handle:after {
    height: 10rem;
    bottom: -10.2rem;
}

#object-information .accordion-button {
    font-size: 2rem;
    border: none;
    padding: 0;
}

#object-information .accordion-button:not(.collapsed) {
    background-color: transparent;
    color: black;
}

#object-information .accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

#object-information .accordion-body {
    font-family: 'Josefin Slab', serif;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.15;
    padding: .5rem 0;
    max-height: calc(100vh - 40rem);
    overflow: scroll;
}

#object-information .accordion-body > span { font-weight: 300 !important; }